process {
  withName: 'AMBER' {
    ext.jarPath = '/opt/hmftools/amber.jar'
  }

  withName: 'COBALT' {
    ext.jarPath = '/opt/hmftools/cobalt.jar'
  }

  withName: '.*:GRIDSS:.*' {
    ext.jarPath = '/opt/gridss/gridss.jar'
  }

  withName: 'GRIPSS.*' {
    ext.jarPath = '/opt/hmftools/gripss.jar'
  }

  withName: 'LILAC_PROCESS' {
    ext.jarPath = '/opt/hmftools/lilac.jar'
  }

  withName: '.*LINX:.*' {
    ext.jarPath = '/opt/hmftools/linx.jar'
  }

  withName: 'PAVE.*' {
    ext.jarPath = '/opt/hmftools/pave.jar'
  }

  withName: 'PURPLE' {
    ext.jarPath = '/opt/hmftools/purple.jar'
  }

  withName: 'SAGE.*' {
    ext.jarPath = '/opt/hmftools/sage.jar'
  }

  withName: 'TEAL' {
    ext.jarPath = '/opt/hmftools/teal.jar'
  }
}
