process {
  withName: 'AMBER' {
    ext.jarPath = '/opt/hmftools/amber.jar'
    cpus = 4
    memory = 8.GB
  }

  withName: 'COBALT' {
    ext.jarPath = '/opt/hmftools/cobalt.jar'
    cpus = 4
    memory = 8.GB
  }

  withName: '.*:GRIDSS:.*' {
    ext.jarPath = '/opt/gridss/gridss.jar'
    cpus = 8
    memory = 30.GB
  }

  withName: '.*:GRIDSS:ANNOTATE' {
    cpus = 1
    memory = 8.GB
  }

  withName: 'GRIPSS.*' {
    ext.jarPath = '/opt/hmftools/gripss.jar'
    cpus = 1
    memory = 8.GB
  }

  withName: 'LILAC_PROCESS' {
    ext.jarPath = '/opt/hmftools/lilac.jar'
    cpus = 8
    memory = 8.GB
  }

  withName: '.*LINX:.*' {
    ext.jarPath = '/opt/hmftools/linx.jar'
  }

  withName: 'PAVE.*' {
    ext.jarPath = '/opt/hmftools/pave.jar'
    cpus = 1
    memory = 4.GB
  }

  withName: 'PURPLE' {
    ext.jarPath = '/opt/hmftools/purple.jar'
    cpus = 4
    memory = 4.GB
  }

  withName: 'SAGE.*' {
    ext.jarPath = '/opt/hmftools/sage.jar'
    cpus = 8
    memory = 8.GB
  }

  withName: 'TEAL' {
    ext.jarPath = '/opt/hmftools/teal.jar'
    cpus = 8
    memory = 8.GB
  }

  withName: '.*COLLECTWGSMETRICS' {
    cpus = 1
    memory = 8.GB
  }
}
