/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Available keys to override module options:
    ext.args   = Additional arguments appended to command in module.
    ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
    ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
    ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
process {
  withName: 'AMBER' {
    ext.jarPath = '/opt/conda/share/hmftools-amber-3.9-0/amber.jar'
  }

  withName: 'COBALT' {
    ext.jarPath = '/opt/conda/share/hmftools-cobalt-1.13-0/cobalt.jar'
  }

  withName: '.*:GRIDSS:.*' {
    ext.jarPath = '/opt/conda/pkgs/gridss-2.13.2-h20b1175_1/share/gridss-2.13.2-1/gridss.jar'
  }

  withName: '.*:GRIDSS:ANNOTATE' {
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      // NOTE(SW): java.io.File and Nextflow's file do not work here, resorting to string splitting
      saveAs: { filename ->
        if(filename.equals('versions.yml')) {
          return null
        } else {
          def tokens = filename.split('[/]')
          return "gridss/${meta.subject_name}_${tokens[-1]}"
        }
      }
    ]
  }

  withName: 'GRIPSS' {
    ext.jarPath = '/usr/local/share/hmftools-gripss-2.1-0/gripss.jar'
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : "gripss/${filename}" },
    ]
  }

  withName: '.*LINX:.*' {
    ext.jarPath = '/usr/local/share/hmftools-linx-1.19-0/linx.jar'
  }

  withName: '.*LINX:ANNOTATION' {
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : 'linx/annotations/' },
    ]
  }

  withName: '.*LINX:VISUALISER' {
    ext.path_circos = 'circos'
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : 'linx/plots/' },
    ]
  }

  withName: 'LINX_REPORT' {
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]
  }

  withName: 'PURPLE' {
    ext.jarPath = '/opt/conda/share/hmftools-purple-3.4-0/purple.jar'
    publishDir = [
      path: { "${params.outdir}" },
      mode: params.publish_dir_mode,
      saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]
  }

  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
    publishDir = [
      path: { "${params.outdir}/pipeline_info" },
      mode: params.publish_dir_mode,
      pattern: '*_versions.yml',
    ]
  }
}
