/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Defines input files and everything required to run a fast and simple pipeline test.

  Use as follows:
    nextflow run nf-core/hmftools -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
  memory = 4.GB

  withName: 'SAGE_GERMLINE' {
    ext.args = '-specific_regions \'chr10:87864102:87966988\''
  }

  withName: 'SAGE_SOMATIC' {
    ext.args = '-specific_regions \'chr10:87736200:88056500;chr17:59748500:59828700\''
  }

  withName: 'COLLECTWGSMETRICS' {
    // NOTE(SW): wrapped by a closure to delay eval until process creation/execution
    ext.args = { "--INTERVALS ${params.ref_data_wgsmetrics_intervals_local}" }
  }
}

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Defined here to be accessible within a workflow script; downloaded manually prior to process
  // execution.
  ref_data_wgsmetrics_intervals_url = 'https://raw.githubusercontent.com/scwatts/nextflow_testdata/main/hmftools/collectwgsmetrics/intervals.interval_list'

  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 1
  max_memory = 16.GB
  max_time   = 20.m

  // Input data
  input  = '/Users/stephen/repos/nextflow_testdata/hmftools/input_tsv/samplesheet.tsv'
  // Reference data
  ref_data_genome                = './reference_data/genomes/hg38.fa'
  // AMBER, COBALT
  ref_data_amber_loci            = './reference_data/hmftools/amber/GermlineHetPon.38.vcf.gz'
  ref_data_cobalt_gc_profile     = './reference_data/hmftools/cobalt/GC_profile.1000bp.38.cnp'
  // GRIDSS
  ref_data_gridss_blacklist      = './reference_data/hmftools/gridss/ENCFF356LFX.bed'
  ref_data_gridss_breakend_pon   = './reference_data/hmftools/gridss/gridss_pon_single_breakend.38.bed'
  ref_data_gridss_breakpoint_pon = './reference_data/hmftools/gridss/gridss_pon_breakpoint.38.bedpe'
  // LINX
  ref_data_linx_fragile_sites    = './reference_data/hmftools/linx/fragile_sites_hmf.38.csv'
  ref_data_linx_line_elements    = './reference_data/hmftools/linx/line_elements.38.csv'
  // Misc
  ref_data_ensembl_data_dir      = './reference_data/hmftools/ensembl_data_cache'
  ref_data_known_hotspots        = './reference_data/hmftools/sage/KnownHotspots.somatic.38.vcf.gz'
  ref_data_known_fusions         = './reference_data/hmftools/known_fusions/known_fusions.38.bedpe'
  ref_data_known_fusion_data     = './reference_data/hmftools/known_fusions/known_fusion_data.38.csv'
  ref_data_driver_gene_panel     = './reference_data/hmftools/gene_panel/DriverGenePanel.38.tsv'
}
