/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Defines input files and everything required to run a fast and simple pipeline test.

  Use as follows:
    nextflow run nf-core/hmftools -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
  memory = 6.GB
}

params {
  config_profile_name        = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus   = 1
  max_memory = 8.GB
  max_time   = 20.m

  // Input data
  input  = '/Users/stephen/repos/nextflow_testdata/hmftools/input_tsv/samplesheet.tsv'

  // Reference data
  ref_data_genome                = '/Users/stephen/projects/gpl_reference_data/genome/umccrise_hg38/hg38.fa'
  // AMBER, COBALT
  ref_data_amber_loci            = '/Users/stephen/projects/gpl_reference_data/Amber/38/GermlineHetPon.38.vcf.gz'
  ref_data_cobalt_gc_profile     = '/Users/stephen/projects/gpl_reference_data/Cobalt/38/GC_profile.1000bp.38.cnp'
  // GRIDSS
  ref_data_gridss_blacklist      = '/Users/stephen/projects/gpl_reference_data/GRIDSS/38/ENCFF356LFX.bed'
  ref_data_gridss_breakend_pon   = '/Users/stephen/projects/gpl_reference_data/GRIDSS/38/gridss_pon_single_breakend.38.bed'
  ref_data_gridss_breakpoint_pon = '/Users/stephen/projects/gpl_reference_data/GRIDSS/38/gridss_pon_breakpoint.38.bedpe'
  // LINX
  ref_data_linx_fragile_sites    = '/Users/stephen/projects/gpl_reference_data/Linx/38/fragile_sites_hmf.38.csv'
  ref_data_linx_line_elements    = '/Users/stephen/projects/gpl_reference_data/Linx/38/line_elements.38.csv'
  // Misc
  ref_data_ensembl_data_dir      = '/Users/stephen/projects/gpl_reference_data/Ensembl-Data-Cache/38'
  ref_data_known_hotspots        = '/Users/stephen/projects/gpl_reference_data/Sage/38/KnownHotspots.somatic.38.vcf.gz'
  ref_data_known_fusions         = '/Users/stephen/projects/gpl_reference_data/Known-Fusions/38/known_fusions.38.bedpe'
  ref_data_known_fusion_data     = '/Users/stephen/projects/gpl_reference_data/Known-Fusions/38/known_fusion_data.38.csv'
  ref_data_driver_gene_panel     = '/Users/stephen/projects/gpl_reference_data/Gene-Panel/38/DriverGenePanel.38.tsv'
}
